## Importando as bibliotecas

In [59]:
import pandas as pd
import numpy as np
import requests
import sys
import os

## Importando as funções do nba_scraper.py

In [60]:
from src.nba_scraper import find_ID_by_name
from src.nba_scraper import find_abb_by_name
from src.nba_scraper import getting_ID_row_by_name
from src.nba_scraper import get_four_factors
from src.nba_scraper import get_advanced_stats
from src.nba_scraper import get_scoring_stats
from src.nba_scraper import get_bench_point_percent
from src.nba_scraper import get_shot_locations_pct
from src.nba_scraper import get_usage_stars
from src.nba_scraper import get_all_teams_df

-------------------------------------------------------------------------------------------------------------------------------------------------------------

# Fazendo o Dataframe inicial dos ultimos 10 campeões
### Primeiramente colocarei, além da temporada, o 'full_name' do time, a temporada e o ID de cada time.

In [61]:
seasons = ["2015-16","2016-17","2017-18","2018-19","2019-20","2020-21",
           "2021-22","2022-23","2023-24","2024-25"]

teams_Series = ["CLEVELAND CAVALIERS", "GOLDEN STATE WARRIORS",
                      "GOLDEN STATE WARRIORS", "TORONTO RAPTORS","LOS ANGELES LAKERS",
                      "MILWAUKEE BUCKS", "GOLDEN STATE WARRIORS", "BOSTON CELTICS",
                        "DENVER NUGGETS", "OKLAHOMA CITY THUNDER"]

indexs = ["2016_CLE", "2017_GSW", "2018_GSW", "2019_TOR", "2020_LAL", "2021_MIL", "2022_GSW", "2023_BOS", "2024_DEN", "2025_OKC"]

df_last_10_champions = pd.DataFrame(index=indexs)
df_last_10_champions["TEAMS"] = teams_Series
df_last_10_champions["SEASON"] = seasons
df_last_10_champions

                          TEAMS   SEASON
2016_CLE    CLEVELAND CAVALIERS  2015-16
2017_GSW  GOLDEN STATE WARRIORS  2016-17
2018_GSW  GOLDEN STATE WARRIORS  2017-18
2019_TOR        TORONTO RAPTORS  2018-19
2020_LAL     LOS ANGELES LAKERS  2019-20
2021_MIL        MILWAUKEE BUCKS  2020-21
2022_GSW  GOLDEN STATE WARRIORS  2021-22
2023_BOS         BOSTON CELTICS  2022-23
2024_DEN         DENVER NUGGETS  2023-24
2025_OKC  OKLAHOMA CITY THUNDER  2024-25

----------------------------------------------------------------------------------------------------------------------

# Será feito os datasets das métricas da liga em cada temporada

----------------------------------------------------------------------------------------------------------------------

## Para fazer de cada season:

In [62]:
get_all_teams_df()

                 TEAM_NAME       TEAM_ID
0            ATLANTA HAWKS  1.610613e+09
1           BOSTON CELTICS  1.610613e+09
2            BROOKLYN NETS  1.610613e+09
3        CHARLOTTE HORNETS  1.610613e+09
4            CHICAGO BULLS  1.610613e+09
5      CLEVELAND CAVALIERS  1.610613e+09
6          DETROIT PISTONS  1.610613e+09
7           INDIANA PACERS  1.610613e+09
8               MIAMI HEAT  1.610613e+09
9          MILWAUKEE BUCKS  1.610613e+09
10         NEW YORK KNICKS  1.610613e+09
11           ORLANDO MAGIC  1.610613e+09
12      PHILADELPHIA 76ERS  1.610613e+09
13         TORONTO RAPTORS  1.610613e+09
14      WASHINGTON WIZARDS  1.610613e+09
15        DALLAS MAVERICKS  1.610613e+09
16          DENVER NUGGETS  1.610613e+09
17   GOLDEN STATE WARRIORS  1.610613e+09
18         HOUSTON ROCKETS  1.610613e+09
19    LOS ANGELES CLIPPERS  1.610613e+09
20      LOS ANGELES LAKERS  1.610613e+09
21       MEMPHIS GRIZZLIES  1.610613e+09
22  MINNESOTA TIMBERWOLVES  1.610613e+09
23    NEW ORLEANS PELICANS  1.610613e+09
24   OKLAHOMA CITY THUNDER  1.610613e+09
25            PHOENIX SUNS  1.610613e+09
26  PORTLAND TRAIL BLAZERS  1.610613e+09
27        SACRAMENTO KINGS  1.610613e+09
28       SAN ANTONIO SPURS  1.610613e+09
29               UTAH JAZZ  1.610613e+09

In [63]:
indexs = []
df_teams = get_all_teams_df()
for x in df_teams["TEAM_NAME"]:
    indexs.append(find_abb_by_name(x))

indexs_2016 = ['2016_' + item for item in indexs]
indexs_2017 = ['2017_' + item for item in indexs]
indexs_2018 = ['2018_' + item for item in indexs]
indexs_2019 = ['2019_' + item for item in indexs]
indexs_2020 = ['2020_' + item for item in indexs]
indexs_2021 = ['2021_' + item for item in indexs]
indexs_2022 = ['2022_' + item for item in indexs]
indexs_2023 = ['2023_' + item for item in indexs]
indexs_2024 = ['2024_' + item for item in indexs]
indexs_2025 = ['2025_' + item for item in indexs]

In [ ]:
def generate_year_df(season):
    df_four_factors = get_four_factors(season)
    df_advanced_stats = get_advanced_stats(season)
    df_scoring_stats = get_advanced_stats(season)
    df_bench_pct = get_bench_point_percent(season)
    df_shot_locations = get_shot_locations_pct(season)
    df_usage = get_usage_stars(season)


    df_1 = pd.merge(df_four_factors, df_advanced_stats, on = "TEAM_ID")
    df_2 = pd.merge(df_scoring_stats, df_bench_pct, on="TEAM_ID")
    df_3 = pd.merge(df_shot_locations, df_usage, on= "TEAM_ID")
    df_4 = pd.merge(df_1, df_2, on="TEAM_ID")
    df_year = pd.merge(df_3, df_4, on="TEAM_ID")
    return df_year

# 2015-16

In [ ]:
df_2016